
body{
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(45deg, rgba(61,58,58,1) 0%, rgb(10, 10, 10) 50%, rgba(61,58,58,1) 100%);
}


::selection{
  font-weight: bold;
  color: #191919;
  background-color: #00ffff;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #00ffff;
}

::-webkit-scrollbar-thumb{
  background: #232323;
  background: linear-gradient(180deg, #232323 0%, #6a6a6a 51%, #232323 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
.title-line{
  opacity: 1;
  width: 100px;
  color: #ae23f9;
  height: 4px !important;
  margin: 10px auto;
  @include small-desktop{
    margin: 10px 0;
  }
}

.light-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  span{
    color: #00ffff;
  }
}

p{
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
  @include desktop{
    font-size: 16px;
  }
}

.contentTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  @include tablet-portrait{
    width: 90%;
    margin-left: auto;
  }
}

.box-title{
  font-family: 'Lexend Deca', sans-serif;
  color: aliceblue;
  font-weight: 600;
}

.date{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.5rem;
  color: #00ffff;
}

.description{
  font-size: 14px;
  @include tablet-landscape{
    font-size: 16px;
  }
}